* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root {
	--primary-color: #937052;
	--secondary-color: #c1a78a;
	--background-color: #f5f5f5;
	--text-color: #333;
	--light-text: #888;
	--white: #ffffff;
	--border-color: #ddd;
    --black: #000000;
}

body {
	background: var(--background-color);
	height: 100vh;
}

.container-fluid {
	width: 100%;
	margin: 0 auto;
	display: flex;
	height: 100vh;
}

.container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	height: 100vh;
}

/* LEFT SIDE */

.left {
	width: 50%;
}

.logo {
	display: flex;
	justify-content: center;
}

.logo img {
	width: 550px;
	height: auto;
}

.tagline {
	text-align: center;
	color: var(--primary-color);
	font-size: 14px;
}

.lines {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	gap: 8px;
}

.lines span {
	width: 20px;
	height: 4px;
	background: var(--secondary-color);
	display: block;
	border-radius: 5px;
}
.lines .active-line {
	background: var(--primary-color);
}

/* RIGHT SIDE */

.right {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.login-card {
	width: 380px;
	background: white;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.login-card h2 {
	text-align: center;
	font-weight: 600;
}

.subtitle {
	text-align: center;
	font-size: 13px;
	color: var(--black);
	margin-bottom: 25px;
}

form label {
	font-size: 14px;
	margin-top: 10px;
	display: block;
}

form input {
	width: 100%;
	padding: 10px;
	margin-top: 6px;
	outline: none;
}

.password-box {
	position: relative;
}

.eye {
	position: absolute;
	right: 10px;
	top: 55%;
	transform: translateY(-50%);
	cursor: pointer;
}

.forgot {
	display: block;
	text-align: center;
	font-size: 14px;
	margin: 10px 0 20px;
	color: var(--primary-color);
	text-decoration: none;
}

button {
	width: 100%;
	padding: 12px;
	background: var(--primary-color);
	border: none;
	border-radius: 6px;
	color: white;
	font-weight: 500;
	cursor: pointer;
	transition: 0.3s;
}

button:hover {
	background: var(--secondary-color);
}

.input-border {
	border: 2px solid var(--primary-color);
	border-radius: 5px;
}
.text-primary {
	color: var(--primary-color);
}
.text-bold {
	font-weight: 600;
}
